*.swp
~$*.xlsx
*.out
*.gem
src/compile/c/test
src/compile/c/test.dSYM/Contents/Info.plist
src/compile/c/test.dSYM/Contents/Resources/DWARF/test
examples/Makefile
examples/blank
examples/blank.rb
examples/test_blank.rb
examples/eu
examples/eu.rb
examples/test_eu.rb
examples/*.c
examples/*.o
examples/*.dylib
examples/stringexample.rb
examples/test_stringexample.rb
examples/getsetranges.rb
examples/test_getsetranges.rb
examples/getsetranges/
examples/utf8-strings/
examples/offsets/
examples/offsets.rb
examples/global/
examples/test_offsets.rb
spec/commands/excel_to_ruby_output_actual
spec/test_data/ExampleSpreadsheet
*.o
*.dylib

examples/offsets.rb

examples/test_offsets.rb

examples/test_offsets.rb
