html, body {
  margin: 0;
  padding: 0;
}

h1 {
  margin-left: 5px;
  margin-bottom: 0px;
  margin-top: 0px;
}

#worksheet {
  position: relative;
  width: 100%;
  overflow: scroll;
}

#worksheet table.cells {  
  table-layout: fixed; 
  border-collapse:collapse;
}

#worksheet table.cells th {
  background-color: #ccc;
  border: solid 1px #fff;
}

#worksheet table.cells td {
  border: solid 1px #ccc;
}

#highlight {
  position: absolute;
  z-index: 1;
  border: solid 2px rgba(100,100,0,0.6);
  background-color: rgba(255,255,0,0.4);
}

#top {
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 4px 3px rgba(50, 50, 50, 0.75);
  border-bottom: solid 1px #000;
}

#top table {
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
}

#top table td {
  border-collapse: collapse;
}

td#sheetref {
  white-space: nowrap;
  padding-right: 5px;
}

td#functionof {
  text-align: right;
  background-color: #ccc;
  margin-right: 0px;
  padding-right: 0px;
  padding-left: 5px;
}

td#selectedformula {
  background-color: #fff;
  border: solid 1px #000;
  width: 100%;
  margin-right: 5px;
  padding: 2px;
}

#jumpbar {
  width: 100%;
  background-color: #fff;
  box-shadow: 0px -4px 3px rgba(50, 50, 50, 0.75);
  border-top: solid 1px #000;
}

#jumpbar table {
  border-collapse: collapse;
  padding: 0;
}

#jumpbar tr {
  padding: 0;
  margin: 0;
}

#jumpbar td {
  border-right: solid 1px #000;
  border-left: solid 1px #000;
}

#jumpbar td.current {
  background-color: #FFFF00;
}



